body {
    background-image: url('images/logo-backgroud.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login img {
    width: 40%;
    margin: 0 50px;
}

@media screen and (max-width: 768px) {
    .login {
        flex-direction: column;
        height: 100%;
    }

    .login img {
        width: 90%;
        margin-bottom: 100px;
    }
    
}